<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="active">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        Bioliner
      </a>
      <a class="navbar-item" routerLink="/modules" routerLinkActive="active">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        Modules
      </a>
      <a class="navbar-item" routerLink="/workflows" routerLinkActive="active">
        Workflows
      </a>
    </div>

    <!-- <div class="navbar-end">
    </div> -->
  </div>
</nav>
