<div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="box" *ngFor="let module of modules">
        <div class="columns">
          <div class="column is-5 is-offset-1">
            <p class="is-size-5 has-text-weight-semibold">Name:</p>
            <p class="is-size-6 pad-left pad-bot">{{ module.name }}</p>
            <p class="is-size-5 has-text-weight-semibold">Description:</p>
            <p class="is-size-6 pad-left ">{{ module.description }}</p>
          </div>
          <div class="column is-5 is-offset-1">
              <p class="is-size-5 has-text-weight-semibold">Parameters:</p>
              <p class="is-size-6 pad-left pad-bot">{{ module.params }}</p>
              <p class="is-size-5 has-text-weight-semibold">Command:</p>
              <p class="is-size-6 pad-left pad-bot">{{ module.command }}</p>
              <p class="is-size-5 has-text-weight-semibold">Input File:</p>
              <p class="is-size-6 pad-left pad-bot">{{ module.inputFile }}</p>
              <p class="is-size-5 has-text-weight-semibold">Output file required:</p>
              <p class="is-size-6 pad-left">{{ module.outputFile_req }}</p>
              <ng-container *ngIf="module.outputFile_req === 'true'">
                <p *ngIf="module.outputFile_req" class="is-size-5 has-text-weight-semibold">Output File:</p>
                <p *ngIf="module.outputFile_req" class="is-size-6 pad-left pad-bot">{{ module.outputFile }}</p>
              </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
