<div class="section">
  <div class="container">
      <div class="tabs is-centered">
          <ul>
            <li [ngClass]="{ 'is-active' : activeTab === 'modules' }">
              <a (click)="showTab('modules')">Modules</a>
            </li>
            <li [ngClass]="{ 'is-active' : activeTab === 'new-module' }">
              <a (click)="showTab('new-module')">Add New Module</a>
            </li>
          </ul>
        </div>

        <ng-container *ngIf="activeTab === 'modules' && !isLoading">
          <app-list-modules></app-list-modules>
        </ng-container>

        <ng-container *ngIf="activeTab === 'new-module'">
          <app-new-module></app-new-module>
        </ng-container>

        <!-- <ng-container *ngIf="activeTab === 'new-module'">
            <p>new-module tab</p>
        </ng-container> -->
  </div>
</div>
